*{
    margin: 0;
    border: 0;
    font-family: sans-serif;
}

header{
    background-color: #1f2937;
    color: white;
}

nav{
    padding: 20px;
}

nav >img{
    margin-top: 1%;
    margin-left: 9%;
    border: 2px solid black;
}

nav>a{
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    color: white;
    float: right;
    margin: 20px 130px 10px 0;
}

.header-text{
    padding: 40px;
    width: 45%;
    float: left;
    margin-left: 90px;
    margin-top: 0px;
    line-height: 45px;
    font-size: large;
}

.cat-drip{
    position: relative;
    margin: 20px 60px 80px 60px;
    border-radius: 10px;
 }

 .header-text h1{
    font-size: xxx-large;
    font-weight: bolder;
 }

 .header-text > button{
    margin: 30px 0;
    padding: 15px 30px;
    background-color: #3882f6;
    color: white;
    font-size: large;
    font-weight: normal;
    border-radius: 10px;
 }

 .first-section h1{
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.cat-container{
    display: flex;
    flex: 1 1 0;
    justify-content: space-around;

    padding: 30px;
}

figure img{
    border: 3px solid #3882f6;
    box-shadow: 10px 10px 5px #e6e9ec;
    border-radius: 8px;
}

figure figcaption{
    text-align: center;
}

.second-section{
    background-color: #e5e7eb;
    padding: 60px 200px;
    margin: 20px 0;
    height: 90px;
}

.second-section .quote{
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    color: dimgrey;
}

.second-section .writer{
    float: right;
    color: dimgrey;
}

.first-footer{
    padding: 50px;
    display: flex;
    justify-content: center;
}

.blue-container{
    width: 50%;
    border-radius: 10px;
    background-color: #3882f6;
    padding: 30px 60px;
    color: white;

}

.info{
    float: left;
    width: 75%;
    line-height: 25px;
}

.blue-container button{
    padding: 10px ;
    font-size: medium;
    border-radius: 10px;
    background-color: #3882f6;
    border: 1px solid white;
    color: white;
    margin-top: 15px;
    margin-left: 50px;
}

.second-footer{
    background-color: #1f2937;
    text-align: center;
    padding: 20px;
    color: #e5e7eb;
}